<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Fandango- Pre-processing Dashboard</title>

  <!-- Bootstrap core CSS -->
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

  <!-- Custom styles for this template -->
  <link href="/css/dashboard.css" rel="stylesheet">

</head>

<body ng-app="fandango" ng-controller="dashboard">


  <!-- Page Header -->
  <header class="masthead" style="background-image: url('img/home-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <svg width="250" height="162" viewBox="0 0 250 162" xmlns="http://www.w3.org/2000/svg">
          <defs>
            <linearGradient x1=".07%" y1="49.99%" x2="100.1%" y2="49.99%" id="a">
              <stop stop-color="#018DBA" stop-opacity=".3" offset="0%"></stop>
              <stop stop-color="#018DBA" stop-opacity=".2" offset="100%"></stop>
            </linearGradient>
          </defs>
          <g fill-rule="nonzero" fill="none">
            <path d="M131.2 15.23V12.2a13.12 13.12 0 0 0-26.15 0v3.02h26.15zM131.2 19.24h-26.15a3.02 3.02 0 0 0 0 6.02h26.15a3.02 3.02 0 0 0 0-6.02z" fill="#FFF"></path>
            <path d="M155.28 61.57c.34 0 .69.04 1.03.12 1.36.14 2.68.35 4.01.58V25.3a55.63 55.63 0 0 0-10.1-.93 55 55 0 0 0-31.5 9.81 1 1 0 0 1-1.23 0 55.1 55.1 0 0 0-41.63-8.95V62.2a62.68 62.68 0 0 1 4.8-.69h.22a5.03 5.03 0 0 1 1.73 9.76c-.83.22-1.69.36-2.55.4-.9.1-1.81.22-2.73.35l-.55.1a1 1 0 0 0-.93.98v10.21a55.15 55.15 0 0 1 41.63 8.94.98.98 0 0 0 1.18-.01 55.1 55.1 0 0 1 41.62-8.94V73.09a1 1 0 0 0-.97-1l-1-.15-2.03-.27a16.9 16.9 0 0 1-2.58-.39 4.7 4.7 0 0 1-3.41-3.9c-.06-.28-.1-.57-.12-.87a5.03 5.03 0 0 1 5.1-4.94zm-42.18-8.05a3.02 3.02 0 1 1 0-6.04 3.02 3.02 0 0 1 0 6.04zm10.05 0a3.02 3.02 0 1 1 2.11-.86c-.57.56-1.36.88-2.17.86h.06z" fill="#FFF"></path>
            <path d="M43.72 34.18a1 1 0 0 1-.62.22v58.11c.22 0 .42-.07.59-.2a55.1 55.1 0 0 1 41.62-8.94v-10.2a1 1 0 0 0-.97-1.01l-1-.15-2.03-.26a16.9 16.9 0 0 1-2.58-.4 4.7 4.7 0 0 1-3.41-3.89c-.07-.29-.1-.58-.12-.87a5.03 5.03 0 0 1 5.03-5.04c.35 0 .7.05 1.04.12 1.35.15 2.68.35 4 .58V25.3a55 55 0 0 0-41.56 8.88zm4.37 19.28a3.02 3.02 0 1 1 3.02-3.02 3.02 3.02 0 0 1-3.02 3.08v-.06z" fill="url(#a)" opacity=".8" transform="translate(75)"></path>
            <g>
              <path fill="#FFF" d="M0 160.85v-29.71h21.38v5.4H5.61v8.12h14.95v5.19H5.64v11zM46.09 155.24H30.53l-2.55 5.6h-6.09l13.36-29.74h6.12l13.35 29.75h-6.2l-2.43-5.61zm-7.78-17.9l-5.53 12.67h11.05l-5.52-12.66zM78.13 131.05h5.6v29.8h-3.48l-15.64-20.1v20.07H59V131.1h4.55l14.58 18.45zM117.35 145.72c.13 7.53-4.46 15.13-14.8 15.13H90.79V131.1h11.7c10.17 0 14.75 7.27 14.86 14.62zm-21 9.73h6.12c6.76 0 9.44-4.93 9.3-9.78-.13-4.85-2.84-9.28-9.3-9.28h-6.12V155.45zM142.47 155.24H126.9l-2.55 5.6h-6.07l13.35-29.74h6.12l13.36 29.75H145l-2.53-5.61zm-7.78-17.9l-5.58 12.7h11.05l-5.47-12.7zM174.44 131.05h5.66v29.8h-3.49l-15.64-20.1v20.07h-5.61V131.1h4.54l14.59 18.45v-18.5zM209.3 138.37a11.41 11.41 0 0 0-7.57-2.98c-6.38 0-10.25 4.83-10.25 10.97 0 4.93 2.85 9.87 10.25 9.87a9.87 9.87 0 0 0 6.72-2.39v-5.28h-7.63v-4.93h12.77v12.55a14.8 14.8 0 0 1-11.86 5.36c-11.19 0-15.73-7.35-15.73-15.18 0-8.37 5.23-16.12 15.73-16.12a15.7 15.7 0 0 1 11.05 4.54l-3.49 3.59zM244.24 146.18c-.08 4.93-2.73 10.16-9.73 10.16-7.01 0-9.66-5.23-9.77-10.11-.12-4.89 2.76-10.68 9.77-10.68a9.69 9.69 0 0 1 5.44 1.52l3.78-3.79a15.28 15.28 0 0 0-9.24-2.81c-10.28 0-15.3 7.86-15.3 15.7 0 7.82 4.86 15.34 15.3 15.34 10.44 0 15.18-7.7 15.26-15.4.02-1.64-.2-3.27-.65-4.85l-4.86 4.92z"></path>
              <path d="M245.76 135.1l-11.07 11.04-4.38-4.32-3 2.98 7.38 7.36 13.53-13.35a14.57 14.57 0 0 0-2.46-3.72z" fill="#BDF271"></path>
            </g>
          </g>
        </svg>
            <span class="subheading">Services Status</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="alert alert-danger" role="alert" ng-show="error">
        {{error}}
      </div>
      <div class="col-lg-12 col-md-10 mx-auto">
        <div class="card" style="width: 1005;">
          <div class="card-header">
            <h5 class="card-title"> Pre-processing Services Status <span>Refreshed <b am-time-ago="time"></b> <i class="fas fa-redo-alt clickable" ng-click="refresh()"></i> </span></h5>
          </div>
          <div class="card-body">
            <ul class="list-group">

              <li class="list-group-item header">
                  <div class="row">
                  <div class="col-sm-4">
                    Service
                  </div>
                  <div class="col-sm-2">
                    Reading topic
                  </div>
                  <div class="col-sm-3">
                    Writing topic
                  </div>
                  <div class="col-sm-2">
                    Status
                  </div>
                  <div class="col-sm-1 ">
                    Action
                  </div>
                </div>
              </li>
              <li class="list-group-item" ng-repeat="service in services">
                  <div class="row">
                  <div class="col-sm-4">
                    {{service.name}}
                  </div>
                  <div class="col-sm-2">
                    {{service.read}}
                  </div>
                  <div class="col-sm-3">
                    {{service.write}}
                  </div>
                  <div class="col-sm-2">
                    {{service.status ==1? 'Running' : service.status ==2? 'Waiting' : 'Stopped'}}
                  </div>
                  <div class="col-sm-1 text-center">

                    <div ng-show="service.type == 'stream' &&  service.status==1">
                      <span style="color: red;">
                         <i class="fas fa-stop-circle clickable" ng-click="stop(service.type,service.service)"></i>
                      </span>
                    </div>
                    <div ng-show="service.status==0 && ready">
                      <span style="color: green;">
                        <i class="fas fa-play-circle clickable" ng-click="play(service.type,service.service)"></i>
                      </span>
                    </div>
                    <div ng-show="service.status==2 && ready">
                      <span style="color: orange;">
                        <i class="fas fa-hourglass-half"></i>
                      </span>
                    </div>

                  </div>
                </div>
              </li>

            </ul>
              <ul class="list-group mt-3">

              <li class="list-group-item header">
                  <div class="row">
                      <div class="col-sm-2">

                      </div>
                  <div class="col-sm-5">
                    External Service name
                  </div>
                  <div class="col-sm-4">
                    Status
                  </div>
                      <div class="col-sm-1">

                      </div>
                </div>
              </li>
              <li class="list-group-item" ng-repeat="external in externals">
                  <div class="row">
                    <div class="col-sm-2">
                      <img src="/img/{{external.icon}}" width="100px">
                    </div>
                    <div class="col-sm-5">
                      {{external.name}}
                    </div>
                    <div class="col-sm-4">
                      {{external.running? 'Running' : 'Stopped'}}
                    </div>
                   <div class="col-sm-1">
                    <div ng-show="external.running">
                       <span style="color: green;">
                        <i class="fas fa-check clickable" ng-click="play(service.type,service.service)"></i>
                      </span>
                    </div>
                   <div ng-show="!external.running">
                       <span style="color: red;">
                        <i class="fas fa-times clickable" ng-click="play(service.type,service.service)"></i>
                      </span>
                    </div>
                    </div>
                  </div>
              </li>
            </ul>
          </div>
        </div>

      </div>

      <div class="col-lg-12 col-md-10 mx-auto mt-5">
        <div class="card" style="width: 1005;">
          <div class="card-header">
            <h5 class="card-title"> Logs <span><a href="re" download>Download full Log</a></span></h5>
          </div>
          <div class="card-body">
           
           

            <ul class="list-group">
               <li class="list-group-item" ng-repeat="log in logs track by $index">
                  <div class="row">
                  <div class="col-sm">
                     {{log}}
                  </div>

                </div>
               </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <hr>

  <!-- Footer -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <ul class="list-inline text-center">
            <li class="list-inline-item">
              <a href="https://twitter.com/fandango_eu">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://www.facebook.com/fandango.project/">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://github.com/fandangOrg/">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
          </ul>
          <p class="copyright text-muted">Fandango Graph Analyzer Dashboard by UPM. Fandango-project.eu has received funding from the European Union's H2020 EU research and innovation programme under grant agreement No. 780355.</p>
        </div>
      </div>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/angular/angular.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/vendor/moment/moment.js"></script>
  <script src="/vendor/moment/angular-moment.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="/js/fandango.js"></script>

</body>

</html>
